{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <h1> Simple Projects in Machine Learing </h1>
    <p>
        Supervised Learning is an approach in Machine Learning which operates with labels of inputs
        are defined. In the project we use iris dataset for various issues.
        You can select what type of measures you want and we will show you how it works.
    </p>
    </div>

<form action="#" class="container" method="post">
    {% for item in my_methods %}
         <button type="submit" class="btn btn-success" style="margin: 20px">{{ item }}</button>
    {% endfor %}
</form>

{% endblock %}